<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Responsividade -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- SEO -->
        <meta name="author" content="Carlos Rodrigo Araújo Fentanes">
        <meta name="description" content="Está é a página inicial do portifólio de Rodrigo Fentanes, programador/developer soteropolitano apaixonado por tecnologia. A partir desta página você poderá encontrar todas as referências necessárias para conhecê-lo melhor. Seja bem vindx!">
        <meta name="keywords" content="portifólio, Rodrigo Fentanes, Carlos Rodrigo Araújo Fentanes, programador, tecnologia, Salvador, Bahia, Brasil">
        <title>Sobre mim | Rodrigo</title>
        
        <!-- Css -->
        <link rel="stylesheet" href="../css/mayerReset.css">
        <link rel="stylesheet" href="../css/style.css">

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">

        <!-- Fontawesome -->
        <script src="https://kit.fontawesome.com/15ee8b6d47.js" crossorigin="anonymous"></script>
    </head>
    <body >
        <nav>
            <div class="navbar">
                <a href="./" id="logo" title="Voltar para o início"> <i class="fas fa-code"></i> RF</a>
                <ul>
                    <li><a class="" href="./"> <i class="nav-icon fas fa-user-astronaut"></i> Início</a></li>
                    <li><a class="" href="./sobre.html"> <i class="nav-icon fas fa-user"></i> Sobre</a></li>
                    <li><a class="" href="./portifolio.html"> <i class="nav-icon fas fa-user-ninja"></i> Portifólio</a></li>
                    <li><a class="current" href="./contato.html"> <i class="nav-icon fas fa-user-tie"></i> Contato</a></li>
                </ul>
            </div>
        </nav>
        <div class="animation">
            <div class="container">
                <header>
                        <h1></h1>
                </header>
                <main>
                    <section id="">
                    </section>
                </main>
                <footer>
                    <div> <i class="far fa-copyright"></i> 2020 Rodrigo Fentanes </div>
                </footer>
            </div>
        </div>
    </body>
</html>