<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Responsividade -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- SEO -->
        <meta name="author" content="Carlos Rodrigo Araújo Fentanes">
        <meta name="description" content="Está é a página inicial do portifólio de Rodrigo Fentanes, programador/developer soteropolitano apaixonado por tecnologia. A partir desta página você poderá encontrar todas as referências necessárias para conhecê-lo melhor. Seja bem vindx!">
        <meta name="keywords" content="portifólio, Rodrigo Fentanes, Carlos Rodrigo Araújo Fentanes, programador, tecnologia, Salvador, Bahia, Brasil">
        <title>Sobre mim | Rodrigo</title>
        
        <!-- Css -->
        <link rel="stylesheet" href="../css/mayerReset.css">
        <link rel="stylesheet" href="../css/style.css">

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">

        <style>
            /* css code can be here too. */
        </style>

        <!-- Fontawesome -->
        <script src="https://kit.fontawesome.com/15ee8b6d47.js" crossorigin="anonymous">
            // Script code, like JavaScript, can be here too. 
        </script>
    </head>
    <body >
        <!-- this page use the semantic tag consept. -->
        <nav>
            <div class="navbar">
                <a href="./" id="logo" title="Voltar para o início"> <i class="fas fa-code"></i> RF</a>
                <ul>
                    <li><a class="current" href="./"> <i class="nav-icon fas fa-user-astronaut"></i> Início</a></li>
                    <li><a class="" href="./sobre.html"> <i class="nav-icon fas fa-user"></i> Sobre</a></li>
                    <li><a class="" href="./portifolio.html"> <i class="nav-icon fas fa-user-ninja"></i> Portifólio</a></li>
                    <li><a class="" href="./contato.html"> <i class="nav-icon fas fa-user-tie"></i> Contato</a></li>
                </ul>
            </div>
        </nav>
        <div class="animation">
            <div class="container">
                <header>
                        <p>
                            Developer
                            <i class="fas fa-terminal"></i>
                            tecnology
                        </p> 
                        <h1>
                            <!-- The conservative way is use a <span> tag, but create a tag is more fun -->
                            <MyTag>Rodrigo</MyTag>
                            Fentanes
                        </h1>
                </header>
                <main>
                    <section id="welcome">
                        <p>
                            Olá, eu sou Rodrigo Fentanes e este é o meu endereço web. 
                            Neste você encontratrá informações sobre minha vida pessoal e profissional.
                        </p>
                        <p>
                            Este é um site estático, criado com o intúito de praticar e divulgar meus conhecimentos e habilidades como desenvolvedor/programador além de explorar diferentes formas codificação. 
                            Por isso não estranhe se uma página seguir um padrão estático e outra um padrão flex ou de doze colunas. 
                            Este é o meu espaço de aprendizado e diversão!
                        </p>
                        <p>Para ver outros projetos mais sofisticados clique em <a href="#" title='Ir para "portifólio"'>portifólio</a>. Caso deseje saber sobre minhas competências, clique em <a href="./sobre" title='Ir para "sobre"'>sobre</a>.</p>
                        <p>Por fim, seja bem vindx e boa navegação!</p>
                    </section>
                    <!-- <section id="proficiency">
                        <p id="play-with-icons">
                            <i class="fab fa-html5" title="HTML5 - Avançado"></i>
                            <i class="fab fa-css3" title="CSS3 - Avançado"></i>
                            <i class="fab fa-git-alt" title="Git - Intermediário"></i>
                            <i class="fab fa-js" title="JavaScript -  Intermediário"></i>
                            <i class="fab fa-react" title="React - Intermediário"></i>
                            <i class="fab fa-node-js"></i>
                            <i class="fab fa-java"></i> 
                        </p>
                    </section> -->
                    <section id="social-media">
                        <p>Siga-me nas redes sociais:</p>
                        <!-- ícone com única função de estabilziar a visualização de conteúdo -->
                        <a class="icon-stabilize"><i class="fas fa-square"></i></a>
    
                        <a class="icon" href="https://www.linkedin.com/in/rodrigofentanes" target="_blank" title="Linkedin"><i class="fab fa-linkedin"></i></a>
                        <a class="icon" href="https://github.com/rodrigofentanes" target="_blank" title="Github"><i class="fab fa-github"></i></a>
                        <a class="icon" href="https://www.instagram.com/rodrigofentaness/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
                        <a class="icon" href="https://api.whatsapp.com/send?phone=5571983825448&text=ol%C3%A1%2C%20em%20que%20posso%20ajudar%3F" target="_blank" title="Whatsapp"><i class="fab fa-whatsapp"></i></a>
                        
                        <!-- ícone com única função de estabilziar a visualização de conteúdo -->
                        <a class="icon-stabilize" ><i class="fas fa-square"></i></a>
                    </section>
                </main>
                <footer>
                    <div> <i class="far fa-copyright"></i> 2020 Rodrigo Fentanes </div>
                </footer>
            </div>
        </div>
    </body>
</html>